/*padrao de computador*/
@media(max-width: 4000px) {
    body{
        background-color: blue;
    }
}
/*padrao de celular*/
@media(max-width:430px) {
    body{
        background-color: rgb(76, 149, 174);
    }
    .case{
        padding-left:10px ;
        padding-top: 10px;
    }
    .case img{
        width: 45%;
    }
    .quadradinhos{
        text-align: center !important;
        margin-top: -40px;


    }
    .quadradinhos img{
        width: 7%;
        margin-left: 5%;
        margin-right: 5%;

    }
    .slider{
        width: 100%;
        overflow: hidden;
        height: 300px;
        margin-top: 18px;
    }
    .slider img{
        height: 300px;
    }
    .sliderprincipal{
        display: flex;
        width: 300%;

    }
    .laider{
        width: 33.33;
        transition: margin-left 2s;
    }
    .sliderprincipal input{
        display: none;
    }
    #bola1:checked~ .primeiro{
        margin-left: 0%;
    }
    #bola1:checked~ .primeiro{
        margin-left: -33.33%;
    }
    #bola3:checked~ .primeiro{
        margin-left: -66.66%;
    }
    .ut{
        text-align: center;
        background-color: rgb(148, 90, 69);
        height: 200px;
    }
    .ut img{
        height: 100px;
    }
    .ut h1{
        padding-bottom: 5%;
        padding-top: 5%;
        font-size: 20px;
    }
    .ut button{
        margin-top: 20px;
        border: 2px solid blue;
        background-color: rgb(125, 142, 143);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        text-transform: uppercase;
        padding: 7px;
    }
    .s3 img{
        height: 100px;
        margin-top: 10px;
        border-radius: 50%;
    }
    .s3 h1{
        padding-bottom:5% ;
        padding-top: 5%;
        font-size: 18px;
    }
    .s3 h3{
        font-size: 16px;
        margin-left: 10%;
        margin-right: 10%;
    }
    footer{
        background-color: rgb(111, 123, 123);
        color: white;
        padding-top:5% ;
        padding-bottom: 5%;
        text-align: center;
    }
    footer h1{
        font-size: 20px;
    }
    .fixo{
        height: 38px;
        background-color: rgb(3, 155, 210);
        position: fixed;
        bottom: 0;
        z-index: 2;
        width: 100%;
    }
    .fixo img{
        width: 45%;
        margin-left: 10%;
    }
    .t1 h1{
        margin-top: 12px;
        margin-bottom: 10px;
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
    }
    .t1 img{
        
        margin-bottom: 30%;
    }
    .t2 h1{
        font-size: 25px;
        padding-left: 5%;
    }
    .t2 img{

    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;

    }
    .t2 h2{
        font-size: 20px;
        filter: drop-shadow(2px 2px 0px rgba(0, 0, 255, 0.315));
    }
    .t3 h3{
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .t3{
        background-color: rgb(130, 104, 104);
        color: white;
        text-align: center !important;
    }
    .t3 h4{
        color: rgb(46, 245, 215);
        text-decoration-line: underline;
    }
    .unico{
     padding-bottom: 30px;
     padding-top: 30px;
     font-size: 30px;
     color: rgb(35, 35, 139);
    }
    .escolha button{
        background-color: rgb(201, 135, 100);
        color: white;
        margin-bottom: 10px;
        margin-top: 10px;
        border: none;

    }
    .escolha img{
        height: 150px;
    }
    .escolha h1{
        font-size: 30px;
        color: rgb(59, 55, 52);

    }
    .escolha{
        background-color:rgb(17, 168, 185);
        margin-top: 10px;
    }
    .novidade{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        padding-bottom: 10px;
    }

        
    }
    
    

